.venv

# Бинарные файлы и результаты сборки
bin/
obj/

# Файлы журналов и временные файлы
*.pytest_cache
__pycache__/

# Файлы настроек IDE
.vs/
.vscode/
*.user
*.suo

# Файлы пакетов
packages/
*.nupkg